//    (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
@include media-breakpoint-up(xs)
@include media-breakpoint-up(sm)
@include media-breakpoint-up(md)
@include media-breakpoint-up(lg)
@include media-breakpoint-up(xl)

body.clients {
  font-family: 'Roboto', sans-serif;
}

.intro-para {
	margin: 25px auto 25px auto;
}

.icons-row {
	.icon-col {
		border-radius: 50%;
		border: 1px solid #000;

	}
  .icon-wrapper {
    margin: 70px;
    @include media-breakpoint-up(sm){
      margin:120px;
    }
    @include media-breakpoint-up(md){
      margin:25px;
    }
    @include media-breakpoint-up(lg){
      margin:10px;
    }




	.sprite-icon-1 {

			background-image: url(../img/running_man_animation.gif);
			background-size: auto;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #010001;
			border-radius: 50%;
			border: 5px solid grey;
      display: inline-block;
      padding-bottom: 100%;
			width: 100%;
			position: relative;


		}
  }
	.sprite-icon-2 {
    background-image: url(../img/Family.gif);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #010001;
      border-radius: 50%;
      border: 5px solid grey;
      display: inline-block;
      padding-bottom: 100%;
      width: 100%;
      position: relative;
		}
    .icon-heading {
      margin: 0 25px 10px 25px;
    }
    .icon-para {
      margin: 0 25px 0 25px;
    }
	}


.case-studies-container {
  margin: 100px 0;
  .case-study {
    padding: 0px;

    .case-study-image {
        width: 100%;
      }
      .case-study-copy {

        top: 25px;
        position: absolute;
        text-align: center;
        padding: 15px;
        opacity: 0;

      .case-study-copy:hover {
        opacity: 1;
      }


        .case-study-heading {

        }
        .case-study-para {

        }
      }
    }
  }
