//
//    (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
@include media-breakpoint-up(xs)
@include media-breakpoint-up(sm)
@include media-breakpoint-up(md)
@include media-breakpoint-up(lg)
@include media-breakpoint-up(xl)


#topNav {
  background-color: #000;
  z-index: 999;
  position: fixed;
  width: 100%;
  .menuButton {
    float: right;
    font-size: 300%;
	margin-right: 50px;
	color: rgb(51, 51, 51);
  }
  .inactive {
    display: none;
  }
  .active {
    background-color: black;
    width: 100%;
    height: 100vh;
	z-index: 999;
    display: inline-block;
    text-align: center;
    list-style: none;
	  ul {
		  z-index: 999;
	  }

		  li {
		  text-align: center;
		  line-height: 100px;
		  font-size: 200%;
		   z-index: 999;

		  a {
		  color: #fff;
			   z-index: 999;

		  }

		}
  }
}

.hero-container {
  	background-image: url(../img/landscape-with-scott-cropped.jpg);
	width: 100%;
	height: 75vh;
	background-size: cover;
	background-repeat: repeat-x;
	/*animation-name: mountainsMove;*/
	animation-duration: 60s;
	animation-iteration-count: infinite;
	z-index: 1;

	.moving-clouds {
	  width: 100%;
	  height: 50%;
	  opacity: 0.1;
	  position: absolute;

	}
	.hero-heading-container {
		padding-top: 75px;
		@include media-breakpoint-up(xs) {
			padding-top: 50px;
		}
		  .hero-heading {
			background-color: #000;
			text-align: center;
			color: #fff;
			z-index: 1;
			position: relative;
				@include media-breakpoint-up(md) {
					width: 500px;
					vertical-align: middle;
					position: relative;				
					left: 30%;
					padding: 80px 40px 80px 40px;
					font-size: 500%;
					z-index: 1;
				}
				  @include media-breakpoint-up(xs) {
					  width: 50%;
					  padding: 25px;
					  top: 50px;
					  left: 25px;
					  font-size: 30px;

				  }
				}


  
		  .hero-sub-heading {
			background-color: rgb(51, 51, 51);
			text-align: center;
			color: #fff;
			  z-index: 2;
			  position: relative;
				  @include media-breakpoint-up(xs) {
					  width: 50%;
					  padding: 10px;
					  top: 35px;
					  left: 45px;
					  font-size: 25px;

				  }
					@include media-breakpoint-up(md) {
						  width: 300px;
						  top: 30%;
						  left: 60%;
						-webkit-transform: translate(50%, 50%);
						  transform: translate(-50%, -50%);
						  z-index: 1;
						  padding: 40px 40px 40px 40px;
					  	  font-size: 40px;
						  margin-top: 30px;
					}
		  		}
			}
		}

@keyframes mountainsMove {
	0% {background-position: 0% 0%}
	100% {background-position: 100% 0%}
}

.toggle-btn {
  background: #000;
  width: 100px;
  height: 60px;
  cursor: pointer;
	@include media-breakpoint-up(xs) {
		padding-left: 85px;
	}
}

//CSS Trsansitions for the menu icon: https://codepen.io/designcouch/pen/Atyop//
//https://www.sarasoueidan.com/blog/navicon-transformicons/ //

.toggle-bar {
  width: 44px;
  height: 4px;
  background: #fff;
  position: relative;
  top: 25px;
  margin: 0 auto;
}

.toggle-bar:before,
.toggle-bar:after {
  width: 44px;
  height: 4px;
  background: #fff;
  content: '';
  position: absolute;
}

.toggle-bar:before {
  top: -12px;
}

.toggle-bar:after {
  top: 12px;
}

.toggle-btn.open .toggle-bar {
  background: inherit;
}

.toggle-btn.open .toggle-bar:before,
.toggle-btn.open .toggle-bar:after {
  top: 0;
}

.toggle-btn.open .toggle-bar:before {
  transform: rotate(45deg);
}

.toggle-btn.open .toggle-bar:after {
  transform: rotate(-45deg);
}

.toggle-bar,
.toggle-bar:before,
.toggle-bar:after {
  transition: all 0.35s;
}